.StoreNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    height: 100vh;
}

.nameSearchNew {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    /* Adjust the margin-top as needed */
}

.selectorNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    /* Adjust the margin-top as needed */
    width: 80vw;
}

.topTwoNew {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    /* Adjust the margin-bottom as needed */
}

.bottomOneNew {
    margin-top: 5vh;
    /* Adjust the margin-top as needed */
}

.topsNew {
    width: 30vw;
    /* Adjust the max-width as needed */
    height: auto;
    margin: 4vw;
}

.bottomsNew {
    width: 30vw;
    /* Adjust the max-width as needed */
    height: auto;
    margin: 4vw;
}

.bottomTwoNew {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    /* Adjust the margin-bottom as needed */
}
