.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    margin-top: 15vh;
    height: 100%;
}

.nameSearch {
    display: flex;
    justify-content: center;
    /* Adjust the margin-top as needed */
    margin-top: 5vh;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adjust the margin-top as needed */
    width: 80vw;
}

.topTwo {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    
    /* Adjust the margin-bottom as needed */
}

.bottomOne {
    margin-top: 5vh;
    /* Adjust the margin-top as needed */
}
#bot{
    width: 40vw;
}

.tops {
    width: 20vw;
    /* Adjust the max-width as needed */
    height: auto;
    margin: 4vw;
}
body,
  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1E1E1E;
  }