.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    margin-top: 15vh;
    height: 100%;
}

.nameSearch {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.topTwo {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.bottomOne {
    margin-top: 5vh;
}

#bot {
    width: 40vw;
}

.tops {
    width: 20vw;
    height: auto;
    margin: 4vw;
}

/* Nuevas reglas de estilo */
.selector p {
    color: white;
    text-decoration: none; /* Elimina el subrayado */
    text-align: center;
}

/* Opcional: Ajusta el tamaño del texto según sea necesario */
.selector p {
    font-size: 16px;
}

body,
  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1E1E1E;
  }