.Library {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: #1E1E1E;
    margin-top: 15vh;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

.leftSection {
    flex: 1;
    background-color: #000000;
    border: 2px solid #ff0000;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nameSearch {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px; /* Agregado para separar el input de la lista de juegos */
}

input {
    width: 100%; /* Asegurar que el ancho del input sea del 100% */
    box-sizing: border-box; /* Ajuste del box-sizing */
}

.gameList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gameList li {
    margin-bottom: 10px;
    color: #ffffff;
}

.rightSection {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.rightSection img {
    width: 35vw;
    margin-bottom: 20px;
    box-sizing: border-box; /* Ajuste del box-sizing */
}
body,
  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }