.header {
    position: fixed;
    width: 99vw;
    height: 20vw;
    /* Adjust the height as needed */
    display: flex;
    align-items: center;
    background-color: #000000;
    border: .5vw solid #ff0000;
    /* Bright red thin border */
    color: #ffffff;
    top: 0;
    z-index: 1000; /* Ajusta el valor de z-index según sea necesario para asegurarte de que esté por encima de otros elementos */
}
.imgHeader{
    width: 15vw;
    height: 15vw;;
}
.immg{
    width: 100%;
    margin-left: 2vw;
}