body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
    height: 100vh;
    margin-top: 20vw;
}

.nameSearchs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.gameContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftRectangle {
    width: 40vw;
    padding: 20px;
    margin-right: 20px;
    background-color: #000000;
    border: 2px solid #ff0000;
    color: white;
}

.leftRectangle img {
    width: 100%;
}

.leftRectangle h2 {
    margin: 10px 0;
}

.rightRectangles {
    display: flex;
    flex-direction: column;
    width: 30vw; /* Ajuste del ancho de la sección derecha */
}

.smallRectangle {
    flex: 1; /* Hace que todos los rectángulos pequeños tengan el mismo tamaño */
    margin-bottom: 20px;
    background-color: #000000;
    border: 2px solid #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinear los elementos verticalmente */
    padding: 20px; /* Agregar un poco de espacio interno */
    color:white;
}

.smallRectangle p {
    margin-bottom: 10px; /* Ajuste de margen inferior para el párrafo dentro del rectángulo pequeño */
}

.smallRectangle button,
.smallRectangle input {
    margin-top: 10px; /* Ajuste de margen superior para los botones y la entrada de texto */
}